<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Book Collection</span>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Books Search Box -->
<mrk-book-search (onClear)="onClearSearch()" (onSearchTerm)="onSearchTerm($event)"></mrk-book-search>

<!-- Book Search Results -->
<div *ngIf="isSearching">
  <div *ngIf="!(searchResult$|async)">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div *ngIf="(searchResult$|async) as bookResults">
    <h1>Book Results</h1>
    <mrk-book-list [books]="bookResults"></mrk-book-list>
  </div>
</div>

<!-- My Book Collection -->
<div *ngIf="!isSearching">
  <mrk-book-list [books]="books"></mrk-book-list>
</div>
